.fondoheader{
    background-image: url(../assets/photo/fondo-encabezado.jpg);
    height: 706px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 1;
 
    
    
}
header a{
    font-size: 18px;
}
.link-a{
    color: white;
    text-decoration: none;
}
.link-a:hover{
    color: yellow;
}
header p{
    font-size: 30px;
}
.fondoazul{
    background-color: #1C66A666;
    height: 706px;

}

.btn-orange{
    background-color: #A65C1C;
    color: white;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.75);
}
.btn-orange:hover{
    background-color: #c46e22;
    color:white;
}

.text-amarillo{
    color: #FFF81D;
}

.line{
    background-color: #A65C1C;
    width: 350px;
    height: 3px;
    border-radius: 15px;
    margin-left: 13vh;
    margin-top: 12vh;
}
.bg-card{
    background-color: #252525;
    height: 105vh;
}
.text-naranja{
    color: #A65C1C;
}
.icono-card{
    width: 164px;
}
.fondo-somos{
    background-image: url(../assets/photo/fondo-quienes-somos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 1297px;
}
.fondoNegro{
    background-color: #25252580;
    height: 1297px;

}
.cubo-orange{
    background-color: #A65C1C;
    border-radius: 15px;
    color: white;
}
.cubo-costado{
    width: 5vh; 
    height: 200px;
    background-color: #0014B7;
    border-radius: 15px 0px 0px 15px;
}
.text-encabezado{
    font-size: 30px;
}

.oso{
    border-radius: 15px;
     width: 326px; 
     height: 200;
}
.text-somos{
    font-size: 20px;
}
.img-vendidos{
    width:326px;
     height: 252px;
      border-radius: 15px;
}
.icon-frecuentes{
    width: 250px;
}
.logo-whap{
    width: 10vh;
    position: sticky;
}
.hover-pie{
    color: white;
    text-decoration: none;
}

.hover-pie:hover{
    color: yellow;
}
.img-tarjeta{
    width: 100%;
    height: 250px;
}
.formulario{    
    background-color: grey;
    border-radius: 30px;
}
.logos-nosotros{
    width: 200px;
}
.logo-servicios{
    width: 40%;
}
.drop-menu{
    background-color: transparent;
    border-color: transparent;
}

.bounce {
    animation: bounce 2s infinite;
   }
   @keyframes bounce {
   0%, 20%, 60%, 80% {transform: translateY(0);}
   40% {transform: translateY(-20px);}
   100% {transform: translateY(20px);}
   }



@media screen and (max-width:700px) {
    .line{
            display: none;
    }
    .fondoheader{
        height: 89.4vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .fondoazul{
        height: 89.4vh;
    }
    .text-encabezado{
        font-size: 25px;
        font-weight: bold;
    
    }
    .cubo-costado{
        display:none;
    }
    .bg-card{
        height: 75vh;
    }


    .fondo-somos{
        background-repeat: no-repeat;
    background-size:cover;
    height: auto;

    }
    .oso{
        border-radius: 15px;
        width: 220px; 
        height: 100;
    }
    .text-somos{
        font-size: 15px;
        width: 30vh;
    }
    .fondoNegro{
        height: 2150px;

    }
    .img-vendidos{
        width:210px;
        height: 200px;
        border-radius: 15px;
    }
    .icon-frecuentes{
        width: 100px;
    }
    .logo-whap{
        width: 7vh;
        position: sticky;
    }
    .logos-nosotros{
        width: 100px;
    }
}